.my-btn-primary {
    background-color: rgb(239, 24, 33);
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    box-shadow: 2px 4px 6px #0005;
    cursor: pointer;
    transition: all .2s;
    border: none;
    width: 100%;
}

.my-btn-primary:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    transition: all .5s;
    text-decoration: none;
    text-transform: none;
}

.my-btn-secondary {
    background-color: #fff;
    border: 1px solid rgb(239, 24, 33);
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(239, 24, 33);
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.my-btn-secondary:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    transition: all .05s;
    text-decoration: none;
    text-transform: none;
}