.my-btn-primary {
    background-color: rgb(239, 24, 33);
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    box-shadow: 2px 4px 6px #0005;
    cursor: pointer;
    transition: all .2s;
    border: none;
    width: 100%;
}

.my-btn-primary:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    transition: all .5s;
    text-decoration: none;
    text-transform: none;
}

.my-btn-secondary {
    background-color: #fff;
    border: 1px solid rgb(239, 24, 33);
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(239, 24, 33);
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.my-btn-secondary:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    transition: all .05s;
    text-decoration: none;
    text-transform: none;
}

.my-btn-primary-sm {
    background-color: rgb(239, 24, 33);
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    width: 100%;
}

.my-btn-primary-sm:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    text-decoration: none;
}

.my-btn-primary-small {
    background-color: rgb(239, 24, 33);
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    text-transform: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    margin-right: 40px;
}

.my-btn-primary-small:hover {
    background-color: rgb(211, 19, 29);
    color: #fff;
    text-decoration: none;
}

.my-btn-add {
    background-color: #fefefe;
    border: 1px solid #eee;
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 24, 33);
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    width: 100%;
}

.my-btn-add:hover {
    transition: all .05s;
    text-decoration: none;
    text-transform: none;
    color: rgb(211, 19, 29);
    background-color: #eee;
}

.btn-trash {
    background: #fff;
    color: rgb(239, 24, 33);
    border: none;
}